#DATA types (int, float- has decimals, string- should have '')

# VARIABLES

In [1]:
x=3

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

 %whos - tells you all the variable available in the memory.

In [3]:
print(type(x))

<class 'int'>

In [4]:
abcd=556.32

In [5]:
a,b,c,d,f= 3,5,6.0,7.2,-3

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          int      3

In [7]:
del abcd

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          int      3

In [9]:
print(abcd)

NameError: name 'abcd' is not defined

In [10]:
c= 2+4j

In [11]:
print(type(c))

<class 'complex'>

In [12]:
s="Hello how are you"

In [13]:
print(type(s))

<class 'str'>

Python automatically specifies the data type for you. You need not specify. Types of data type

Int, float, string, complex - Examples of the types are as in the codes above.

# OPERATORS

+ Addition , - subtraction, / division , * multiplication

% mod .... Gives you the remainder after dividing. 27%5 = 2

// floor division ... Gives you the quotient and ignores the decimal values. 10//3 = 3

** to the power of .. 2**4 = 16

operators are also used in strings.

In [14]:
sumOfaAndb = a+b

In [15]:
print(sumOfaAndb)

8

In [16]:
print(type(sumOfaAndb))

<class 'int'>

In [17]:
%whos

Variable     Type       Data/Info
---------------------------------
a            int        3
b            int        5
c            complex    (2+4j)
d            float      7.2
f            int        -3
s            str        Hello how are you
sumOfaAndb   int        8
x            int        3

In [18]:
s1 = 'hellow'
s2 = 'world'
s = s1+s2
print(s)

hellowworld

In [19]:
type(s)

str

 if you did not store your last value, you can use _ 'underscore' to retract the last value you implemented on your command since it is ana utomatic variable assigned to the last prompt

# TYPE BOOL and COMPARISONS

'and'- Operator will result 'TRUE' if both variables are 'TRUE' Otherwise 'False'

'or' - Operator will result 'false' if both are False Otherwise it is 'True' if atleast one of the 2 is 'True'
 Both 'and' & 'or' are Binary Operators.
 
    SYMBOL        TASK PERFORMED
    ==             True if it is equal 
    !=             True, if not equal
    <              less than
    >              greater than
    <=             less than or equal to
    >=              greater than or equal to

### BOOL

In [1]:
a = True
b = True
c = False

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False

In [5]:
print(a and b)
print (a and c)
print ( c and a)

True
False
False

In [4]:
d = a or c
print(d)

True

In [6]:
not (a)

False

In [7]:
not (b)

False

In [8]:
not(c)

True

In [9]:
t = not(d)

In [10]:
type(t)

bool

In [11]:
print(t)

False

In [12]:
not((a and b) or (c or d))

False

# COMPARISONS

In [13]:
print(2<3)

True

In [17]:
c=2<3
type(c)

bool

In [19]:
print(c)

True

In [16]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False
d          bool    True
t          bool    False

In [20]:
d = 3==4

In [21]:
print(d)

False

In [22]:
3==3.0

True

In [23]:
x=4
y=9
z=8.3
r=-3

In [24]:
(x<y) and (z<y) or (r==x)

True

In [25]:
(r==x) and (x<y) or (z>y)

False

In [26]:
True or False and True

True

In [27]:
print((not(2!=3) and True) or (False and True))

False

# USEFUL FUNCTIONS

round () - rounds the input value to a specified no. of places or the nearest interger.

In [28]:
print(round (4.556))

5

In [29]:
print(round(4.556789,2))

4.56

divmod(x,y) - divides  and outputs the quotient and remainder in a tuple.

In [32]:
print(divmod(27,5))

(5, 2)

In [33]:
print(type(G))

<class 'NoneType'>

In [34]:
G = divmod(27,5)

In [35]:
print (type(G))

<class 'tuple'>

In [36]:
G[0]

5

In [37]:
G[1]

2

In [38]:
27//5

5

In [39]:
27%5

2

You can achieve divmod by using // (floordivision) - gives you the whole value and ignores remainder and % (mod) - gives you the remainder.

isinstance() - returns True, if the first argument is an instance of that class.
Multiple classes can also be checked at once.
Returns False if the first argument is Not an instance of that class.

In [40]:
isinstance(3.4,float)

True

In [41]:
isinstance(2+3j,(int,float,str))

False

In [42]:
isinstance(2+3j,(int,float,str,complex))

True

pow(x,y,z) x raise to the power y and remainder (mod%) by z ... 
x**y this can also be used as power. So x**y = pow(x,y)

In [43]:
pow(2,4)

16

In [44]:
2**4

16

In [45]:
pow(2,4,7)

2

The above means 2 raised to power 4 which = 16 , then get the mod % ..
16%7 which is 2, Mod refers to the remainder after dividing by 7 as per the example herein.

Input() a = input("Enter something")
using this function, you can input a value or text, but whatever it is you input, it shall be of the type STRING. Then if it was an interger, changes can be made later.

In [47]:
x = input("Enter a number :")

Enter a number :56

In [1]:
%whos

Interactive namespace is empty.

In [2]:
x = input("Enter a number :")

Enter a number :56

In [3]:
isinstance(x,str)

True

In [4]:
type(x)

str

To make x to an interger, we assign it as int(x). Check below.

In [5]:
x = int(x)

In [6]:
print(x-34)

22

In [1]:
%whos

Interactive namespace is empty.

if you would like to be specific of the type of data that one should input, you can specify in the command as below.

In [2]:
b = float(input("Enter a real number : "))

Enter a real number : 12.5

In [12]:
type(b)

float

In [13]:
b = float(input(" Enter a real number :"))

 Enter a real number :12

In [14]:
b = float(input(" Enter a real number :"))

 Enter a real number :abc

ValueError: could not convert string to float: 'abc'

The above returns error since abc is not a float and cannot be converted to a float.

We have discussed the below functions - round 
                                        divmod (//- floordivision, %- mod)
                                        isinstance
                                        pow(**)
                                        input

NOTE: If you don't know the function of a specifc function, you can ask by placing a ? after the function and information of how to use it will be displayed below.Check below example.
If you would need more information, use double ?? Or use the help function.

In [16]:
pow?

In [17]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

## CONTROL FLOW

##IFCONDITION

In [19]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print(" I am still inside if condition")
print( " I am outside the if condition")

12
10
12
 I am still inside if condition
 I am outside the if condition

In [20]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print(" I am still inside the if condition")
print(" I am outside the if condition")

10
45
 I am outside the if condition

Notice the importance of the alignment to determine whether a statement is in the if condition or not.

In [21]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

45
60
60

##IF-ELSE

In [24]:
a = int(input())
b = int(input())
if a>b:
    print(a)
else:
    print(b)

10
6
10

#iF-elif-else

In [25]:
a = 1
b = 10
if a==b:
    print(" Equal")
elif a>b:
    print("A")
else:
    print("B")
print ("Not in if")

B
Not in if

In [28]:
a = int(input(" Enter Marks :"))
if a>85:
    print("A Grade")
elif (a < 85) and (a>=80): 
     print("A- Grade")
elif (a < 80) and (a>=75):
    print("B Grade")
elif (a<75) and (a>= 70):
    print("B- Grade")
else:
    print ("Below Average")

 Enter Marks :67
Below Average

You can also implement "else" using "elif not"

In [33]:
a = 3
if a > 5:
    print(a)
elif not (a>5):
    print(" not great")

 not great

#Nestedif (if condition inside another if condition)

In [8]:
a = int(input())
if a>10:
    print(">10")
    print("Inside the top if")
    if a >20:
        print(">20")
        print("Inside the nested if")
    else:
        print("<=20")
        print("Inside the Else part of nested if")
print("Outside all ifs")

23
>10
Inside the top if
>20
Inside the nested if
Outside all ifs

Focus on the power of INDENTATION i.e., the position of 'if' and 'else' where they are at in the code.

In [9]:
# single line comment in code
"""
We use the pair of 3 qoutes to write a multi-line comment.
"""

'\nWe use the pair of 3 qoutes to write a multi-line comment.\n'

In [17]:
"""
User will enter a floating point number lets say 238.915. Your task is
to find out the interger portion before the point (in this case 238) and
then check if the interger portion is an even number or not
"""

x = float(input("Enter a real number :"))
y = round(x)
if x>0:
    if y>x:
        intportion = y-1
    else:
        intportion = y
else:    
    if y<x:
        intportion = y+1
    else:
        intportion=y 
        
if intportion%2 == 0:    
    print("Even")
else:
    print("Odd")
print(intportion)

Enter a real number :22.6
Even
22

# CONTROL FLOW (Loops)

In [1]:
n = int(input())
i = 1
while i < n:
    print(i**2)
    print( "This is iteration number :", i)
    i+=1 # i = i+1
print(" Loop done")

5
1
This is iteration number : 1
4
This is iteration number : 2
9
This is iteration number : 3
16
This is iteration number : 4
 Loop done

"break" - whenever a break statement is encountered/ executed inside the loop, it means to exit the loop immediately and brings you outside the body of the loop, regardless of other statements.

"continue" - Once Continue is executed, no matter how many statements are there onwards in the body of the loop, the loop will not finish its iterations by going thru the remaining statements but it will start another iteration immediately.

"True" - True means always run , always

In [2]:
 n = 10
i = 1
while True:
    if i%9 == 0:
        print("Inside if")
        break
    else:
        print("Inside else")
        i = i+1 #i+=1
print("done")

Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside if
done

In [1]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i +=1
        continue
    print("Something")
    print("Something else")
    break
    
print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
Something
Something else
done

Control(for loop)
List - a list is a collection of a number of elements. You can add (append) more elements in a list and even delete elements in a list.

In [2]:
L = []
for i in range(10):
    print(i+1)
    L.append(i**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
L = []
for i in range(0,10,2):
    print(i)
    L.append(i**2)
print(L)

0
2
4
6
8
[0, 4, 16, 36, 64]

List - list is defined by []
Set - set can have different types of data type , int, str,float, and denoted by {}

In [6]:
#Else for loop
s = {"apple",4.9,"cherry"}
for x in s:
    print(x)
else:
    print("Loop terminates with success")
print("Out side the loop")

cherry
apple
4.9
Loop terminates with success
Out side the loop

In [13]:
s = {"apple",4.9,"cherry"}
i = 0
for x in s:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print("Loop terminates with success")
print("Out side the loop")

cherry
apple
4.9
Out side the loop

else in for loop, means just print the statement after code has run, the else is different like the one in the other kind of loops. Advisable to avoid else when in for loop.

For loops is good to use in a dictionary.

In [15]:
D = {"A":10,"B":-19,"C":"abc"}
for x in D:
    print(x,D[x])

A 10
B -19
C abc

# Solving Problems with loops

In [16]:
"""
Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list that contains
all the items in sorted order from min to max. i.e. your result will be another 
list like [-5,1,2,2,3,3,7,9]
"""
L = [1,2,4,-5,7,9,3,2]

In [1]:
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j  #idx means identification
    c = j
    for i in range(len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c=c+1 
    tmp = L[j]  
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 2, 4, 1, 7, 9, 3, 2]

In [2]:
#How to get one minimum value from the list
L = [1,2,4,-5,7,9,3,2]

m = L[0]
for i in L:
    if i<m:
        m = i
print(m)

-5

# FUNCTIONS

How to build our own functions and how to call for functions. While building functions, include explanation (Document string """ ...""") of the function. 
We shall study how to:-
           - Input arguments in functions. A function can have either single or multiple arguments. Also to note, 
           - Is the order of inputs arguments, 
           - The scope of the variables in a function (accessing variables inside the function, and variables outside the function),
           - The  return statement in a  function (has 2 purposes, it returns a variable assigned and also acts as a break statement as in loops).
           - How to input a variable (arbitrary) number of input arguments (*).
           - Order of input arguments when dealing with an arbirtrary number of input arguments (**)
           - Default values in functions.
           - Modules ( A module is a python file that contains a code(s)/ a number of functions that can be used anywhere.

In [1]:
#Function with multiple input arguments and with a document string

def mypow(a,b):
    """ this function computes power just like the builtin pow function"""
    c = a**b
    print(c)

In [2]:
#how to check information about the function, use ?

mypow?

In [3]:
mypow??

In [4]:
mypow(2,3)

8

In [7]:
#function with multiple arguments,i.e, 3 in this case.

def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print("Error: the input arguments are not of the expected types")

In [8]:
checkArgs(3,4,5)

144

In [10]:
checkArgs(3,4,"g")

Error: the input arguments are not of the expected types

In [11]:
#if you call this function by more or less than the no. of arguments in the function it errors

checkArgs(2,3)

TypeError: checkArgs() missing 1 required positional argument: 'c'

In [12]:
###Order of input Arguments

In [13]:
def f(a,b,c):
    print("A is :",a)
    print("B is:",b)
    print("C is:",c)

In [14]:
f(2,3,"game")

A is : 2
B is: 3
C is: game

#Ahead, we will see how using ** helps in ensuring the order of an abitrary no. of inputs in a function is well ordered.

In [15]:
##Scope of Variables

lets check that if a variable is defined inside the function is it available outside the function and if a variable is defined outside the function, is it available inside the function

In [16]:
variableoutsidethefunction = 3

In [17]:
def g():
    print(variableoutsidethefunction)

""" when we call the function g(), the variable outside the function will be accessed since it is global i.e, it is out there. However when there is another similar variable defined inside the function as we will see in another example, when we call g(), the variable that will be used is the one defined inside the function and after that is used, calling g() again will use the variable defined outside the function , since the one inside the function vanishes after being used"""

In [18]:
g()

3

In [19]:
def g():
    variableoutsidethefunction = 5
    print(variableoutsidethefunction)

In [20]:
g()

5

In [24]:
print(variableoutsidethefunction)

3

In [23]:
g()

5

In [25]:
#Returnstatement

The return statement in a function (has 2 purposes, it returns a variable assigned and also acts as a break statement as in loops.

In [26]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("something")
    return
    print("B")
    print("C")

In [27]:
h()

A
something

In [28]:
type(h())

A
something

NoneType

Above we see how the return statement has been used as a Break statement. Any command after the return statement has been rendered useless.

Below lets see how the return statement can be used to return a variable assigned

In [29]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("something")
    return c
    print("B")
    print("C")

In [30]:
h()

A
something

8

Above we can see how the return statement has returned the value of c which is 8

The return statement can return more than one value and values of different types

In [31]:
#How to write functions with an arbitrary no. of arguments. That is,a function with many arguments.

To write a function with an arbitrary number of arguments (many number of arguments) we use *.

Check below.

In [35]:
def myadduniversal(*args):
    s = 0
    for i in range(len(args)):
        s=s+args[i]
    return s

In [36]:
print (myadduniversal(2,4,5,4.6,78))

93.6

In [37]:
#How to ensure there is order of arguments in a function with an abirtrary no. of arguments.

For a function with an abitrary number of arguments, we use ** to ensure that the arguments are well ordered.

In [38]:
def printallvariablenamesandvalues(**args):
    for x in args:
        print("Variable Name is :",x, "And value is :",args[x])

In [39]:
printallvariablenamesandvalues(a=3, b= "B",C=1)

Variable Name is : a And value is : 3
Variable Name is : b And value is : B
Variable Name is : C And value is : 1

In [40]:
#Default Values in Functions

In [41]:
def gg(s=4):
    print(s)

In [42]:
gg()

4

In [43]:
gg(56)

56

In [44]:
L = [1,2,3]
L2 = L
L2[0] = -9
print (L)

[-9, 2, 3]

When a variable is assigned a value in a function, that becomes the default value of the variable, therefore, whenever the variable is called in the code it automatically displays the default value assigned in the function. But when the variable is assigned a different value outside the function, it then displays that assigned value outside the function, but if the variable is called in the code and not assigned a value, then it automatically picks the variable that was assigned in its original function as its value.

In [45]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [46]:
ff()

1
2

In [49]:
L2 = [12,3,4]  #As we can see here, we asssigned ff the variable L2, so it willprint L2
ff(L2)

12
3
4

In [50]:
ff()  #Here, ff was not assigned, as a resu;t it printed 1,2 , values that were initially assigned in its function.

1
2

Modules.
A module is a python file that contains a number of functions with their codes that can be retrived / imported and be used anywhere (any project or programme that one is working on).

We shall also learn how to call/ import a module in a current project.

In [51]:
import sys
sys.path.append('C:/abc/')

In [52]:
import my_universal_functions as myfs

In [54]:
myfs.addallnumerics??

In [55]:
myfs??

In [56]:
myfs.addallnumerics(2,3,4,6)

15

If you only want to import a specific function from your module, you do as below. Call the name of your module and state what to import.

In [57]:
from my_universal_functions import addallnumerics

In [58]:
d = addallnumerics(2,3,4,5,6,7)
print(d)

27

In [60]:
myfs.myName

'Python course'

In [61]:
#PRACTICE FUNCTIONS

In [6]:
"""Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list that contains
all the items in sorted order from min to max. i.e. your result will be another 
list like [-5,1,2,2,3,3,7,9]"""

def findMin(L, startIndx):
    m = L[startIndx]
    idx = startIndx
    for i in range(startIndx,len(L)): #means for every element that is in L
        x = L[i]
        if x<m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return m, idx

In [2]:
a,b = findMin([2,3,4,0,9])

In [3]:
print(a,b)

0 3

In [4]:
def swapValues(L,idx1,idx2):
    tmp = L[idx1] #tmp (tempirary variable)
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [5]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)
print(L2)

[2, 7, 6, 3]

In [17]:
#Sorting the list
from my_universal_functions import checkifnotnumeric

def sortlist(L):
    if not(checkifnotnumeric2(L)):
        print(" Error: List does not contain numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
    return L

In [8]:
myfs?

Object `myfs` not found.

In [9]:
import sys
sys.path.append('C:/abc/')

In [10]:
import my_universal_functions

In [12]:
my_universal_functions??

In [20]:
L2 = sortlist([2,1,5,])

In [15]:
def checkifnotnumeric2(L):
    for x in L:
        if not(isinstance(x,(int,float))):
            return False
    return True

In [19]:
L2 = sortlist([1,2,4,-5,7,9,3,2])
print(L2)

[-5, 1, 2, 2, 3, 4, 7, 9]

# String

A string can be denoted by '...' or "..."
Strings can also be added, i.e.,  they can be combined by the + sign.

For a string to be added, the variables have both to be in string form, so to add a str with an int you'll have to chenge the int to a string.
E.g. price = 12
      s = 'The price of this book'
      v = s+ 'is: ' + str(price)  note we had to convert it to a str
      print(v)

In [5]:
price= 12
s= 'The price of this book'
v= s +' is: '+ str(price)

In [6]:
print(v)

The price of this book is: 12

In [8]:
print(s,"is:",price) #The print statement creates its own space

The price of this book is: 12

A multi line of string lines is denoted by """ ..... """

In [11]:
#Indexing and Slicing
""" Remember in python, index starts with 0."""

' Remember in python, index starts with 0.'

In [10]:
s = "How are you and who are you"
print(s[5])

r

In [12]:
s[0:10] #here the results starts from 0, but does not include the 10th.

'How are yo'

We can also have -ve indexing, this means starting from the right to the left.

In [14]:
s[-12:-3]  #referred to as slicing

' who are '

A string is immutable, once created it's content cannot be changed.

In [15]:
#Below is the general method of slicing
#s[start:end:step]
#if you do not mention the start, it'll start from default 0
#if you do not mention the end it'll go to the last end
#if you do not mention the step/skip, it's default step will be 1

In [16]:
s[0:10:2]

'Hwaey'

In [18]:
s[:10]

'How are yo'

In [19]:
s[3:]

' are you and who are you'

In [20]:
s[1:12]

'ow are you '

In [21]:
s[::-1]

'uoy era ohw dna uoy era woH'

In [22]:
s[::-2]

'uyeaowdauyeawH'

In [23]:
#Functions in string

In [24]:
a = "  are you   here  "
b= a.strip()  #this strip function removes spaces before & after the string.
print(b)

are you   here

In [2]:
a = "ABC defg ;; sadfa QF"
b = a.lower() #this turns to lower case every letter in the string.
print(b)

abc defg ;; sadfa qf

In [3]:
c = a.upper() #this turns to upper case every letter in the string.
print(c)

ABC DEFG ;; SADFA QF

In [4]:
d = a.replace(";","*")
print(d)

ABC defg ** sadfa QF

In [5]:
d = a. replace(";","$%***")
print(d)

ABC defg $%***$%*** sadfa QF

In [6]:
d = a.replace(";;","two semi colons ")
print(d)

ABC defg two semi colons  sadfa QF

In [7]:
a = "abs;gjhy;qwerty;12ft"
L = a.split(";") #The split() function separates/splits according to the sign you want.
print(L)

['abs', 'gjhy', 'qwerty', '12ft']

In [8]:
L[2]

'qwerty'

So the functions available as seen are
a.strip() ,
a.lower() ,
a.upper() ,
a.replace(" "," ") ,
a.split("") 

To check all the functions available in a data type e.g in a string datatype, type the datatype and . then press tab e.g (b.) - this gives you a list of all the available functions to be used in that datatype.
If you need knowledge on how a specific function works, you can write the function and ? or use help() see how below.

In [10]:
a.casefold?

In [11]:
help(a.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [14]:
a="adgDRhhj"
g= a.casefold
print(g)

<built-in method casefold of str object at 0x00000285F90C9A70>

in - returns either True or false, whether there is such a value in a string.

In [15]:
"abc" in "anhboksc"

False

In [16]:
"abcdefgh" < "def"

True

Use Of Escape correctors

Use of \ and / , this means whatever that is coming infront of it should be used as it is.

Another is use of '', single qoutes then use "" double qoutes inside.

\n - this puts everything to a new line.

In [17]:
print(" we are learning \"string\" here")

 we are learning "string" here

In [18]:
print('We are learning "string" here')

We are learning "string" here

In [19]:
print("we are learning \n now on another line")

we are learning
 now on another line

In [23]:
print("we are \t now on another line")

we are 	 now on another line

In [ ]:
#\t - this gives a tab room.
#r use of r, - this tells the code to be treated as it is

In [24]:
print(r"c:\name\drive")

c:\name\drive

In [26]:
print("we are learning r"string" here")

SyntaxError: invalid syntax (4069144712.py, line 1)

# Data Structures

In [1]:
#LIST ; Ordered, mutable , duplicates ,[]
#TUPLE ; Ordered, immutable, duplicates ()
#SET ; Unordered , mutable,  no duplicates {}
#DICTIONARY ; Unordered, mutable, no duplicates {}

In [2]:
"""
List                      Tuple                   Set
L=[12,"banana", 5.3]     T=(12,"banana", 5.3)     S={12,"banana", 5.3}

L[1]                     T[2]                     X in S

L= L+["game"]            Immutable                S.add("new item")
L[2]= "orange"           T3=T1+T2                 S.update({"more","items"})

del L[1]                 Immutable                S.Remove("banana")
del L                    del T                     del S

L2=L.copy()              T2=T                     S2=S.copy()


Dictionary
D={"Val":12, "name":"Ban"}
 
D["Val"]

D["Val"]= newValue
D["newkey"]= "newVal"

del D["Val"]
del D

D2=D.copy()
"""

'\nList                      Tuple                   Set\nL=[12,"banana", 5.3]     T=(12,"banana", 5.3)     S={12,"banana", 5.3}\n\nL[1]                     T[2]                     X in S\n\nL= L+["game"]            Immutable                S.add("new item")\nL[2]= "orange"           T3=T1+T2                 S.update({"more","items"})\n\ndel L[1]                 Immutable                S.Remove("banana")\ndel L                    del T                     del S\n\nL2=L.copy()              T2=T                     S2=S.copy()\n\n\nDictionary\nD={"Val":12, "name":"Ban"}\n \nD["Val"]\n\nD["Val"]= newValue\nD["newkey"]= "newVal"\n\ndel D["Val"]\ndel D\n\nD2=D.copy()\n'

In [5]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,'C':'CCD'}

In [4]:
print(type(L))
print(type(T))
print(type(S))
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [5]:
#Indexing In DataStructures
#In Lists = L[1] rememeber it starts from 0 value
#In Tuples = T[1]
#In Sets = You can use 'in' to check a value in a set
#In Dictionary = You call the Dvalue D=["Val"]

In [6]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [7]:
S #Note the 3 won't duplicate

{1, 3, 4.9, 'name'}

In [8]:
L

[1, 3, 4.9, 'name', 3]

In [9]:
L[1:3] #It will include values from L[1] but wont include the L[3]

[3, 4.9]

In [10]:
L[::-1] #This means listing the List in reverse

[3, 'name', 4.9, 3, 1]

In [11]:
T[:3] #This means from the 1st value of the tuple to the T[2] note T[3] wont be included.

(1, 3, 4.9)

In [12]:
T

(1, 3, 4.9, 'name', 3)

In [13]:
T[2:] #This means from the T[2] Value to the last value of the tuple

(4.9, 'name', 3)

In [14]:
T[::2] #This outputs values from the 1st value to the last, with an interval difference of 2,basically skips 1 value

(1, 4.9, 3)

In [15]:
T[::-3] #basically skips 2 values and starts from reverse.

(3, 3)

In [16]:
#Mutability whether Mutable or Immutable

In [17]:
L

[1, 3, 4.9, 'name', 3]

In [18]:
L = L + ["how are", 6, "You"]

In [19]:
L

[1, 3, 4.9, 'name', 3, 'how are', 6, 'You']

In [22]:
L.append(6.8) #append only takes one argument, unlike + takes a number

In [23]:
L

[1, 3, 4.9, 'name', 3, 'how are', 6, 'You', 6.8, 6.8]

In [25]:
#Tuples are immutable, you cant add or del a value in a tuple
#But you can add 2 or more tuples. Or remove/ del a whole tuple.

In [26]:
T2= ('a','b',45)
T3= T+T2

In [27]:
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [28]:
#Sets you can add or del an element in a set

In [29]:
S

{1, 3, 4.9, 'name'}

In [30]:
S.update({23,"game",1})

In [31]:
S

{1, 23, 3, 4.9, 'game', 'name'}

In [32]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [33]:
D['newkey'] = "newvalue"

In [34]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newvalue'}

In [35]:
D2={"y":"YY", "z":10}

In [46]:
D3 = D+D2 #+ function does not work in Dictionary
#We use update just like in sets D.update({D2})

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [37]:
L

[1, 3, 4.9, 'name', 3, 'how are', 6, 'You', 6.8, 6.8]

In [38]:
del L[3] #deletes the "name"

In [39]:
L

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8]

In [40]:
S

{1, 23, 3, 4.9, 'game', 'name'}

In [41]:
S.remove('game')

In [42]:
S

{1, 23, 3, 4.9, 'name'}

In [43]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newvalue'}

In [44]:
del D['C']

In [45]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [47]:
#COPY() FUNCTION

In [49]:
L 
""" In python when you assign like above, whatever you edit in L2
affects L too. Because the memory is stored as onne same value.
To avoid that, we use the copy() function. So that whatever you 
edit in L2, does not affect the values in L

"""

' In python when you assign like above, whatever you edit in L2\naffects L too. Because the memory is stored as onne same value.\nTo avoid that, we use the copy() function. So that whatever you \nedit in L2, does not affect the values in L\n\n'

In [50]:
L

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8]

In [52]:
L2 = L+[99,"Po"]

In [53]:
L=L2
print(L2)

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8, 99, 'Po']

In [56]:
L2.append(789) #when adding a value in L2,it will also add te value in L

In [57]:
L2

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8, 99, 'Po', 789, 789]

In [58]:
L

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8, 99, 'Po', 789, 789]

In [59]:
#To avoid this, use copy
L2=L.copy()

In [60]:
L2.append("minemine")

In [61]:
L2

[1, 3, 4.9, 3, 'how are', 6, 'You', 6.8, 6.8, 99, 'Po', 789, 789, 'minemine']

In [6]:
L

[1, 3, 4.9, 'name', 3]

In [63]:
#The same happens in Sets and dictionary
#S2= S.copy()
#D2=D.copy()

In [64]:
#However in slicing, what is formed is a completely new List and
#thus editing it does not affect the original List.

In [8]:
L3= L[1:5] #This means a new List is totally formed named L3

In [18]:
L3

[3, 4.9]

In [22]:
del L3[2] #Deleting in L3 does not delete it in L

In [14]:
L3

[3, 4.9]

In [15]:
L

[1, 3, 4.9, 'name', 3]

In [21]:
L3.append("name")

In [23]:
L3

[3, 4.9]

In [24]:
#Slicing in NUmpy array is different from what we've learnt above.

In [25]:
#Remember inorder to access the functions e.g in List, you write L. (Then press tab)

In [26]:
#A list can contain a dict,set, tuple, the reverse is true also.
#A Dict can contain list, tuple, set,
#They all alternate.

In [27]:
L

[1, 3, 4.9, 'name', 3]

In [28]:
T

(1, 3, 4.9, 'name', 3)

In [29]:
S

{1, 3, 4.9, 'name'}

In [30]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [31]:
D2 = {'A':L, 'B':T, 'C':S, 'D':D}

In [32]:
D2['A'][3]

'name'

In [33]:
L3= [L,T,D,23,"game"]

In [34]:
type(L3[2])

dict

In [35]:
L3[2]

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [37]:
#You can make your List, e.g. list of squares from 0 to 9
L4 = [x**2 for x in range(10)]

In [38]:
L4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
S4 = {x**2 for x in range(2,20,3)}

In [40]:
S4

{4, 25, 64, 121, 196, 289}

In [ ]:
""" Let say you are a teacher and you have different student records
containing Id of a student and the marks list in each subject where
different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in
computer and want to compute the average marks of each student and display
"""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input('Enter "no" to quit insertion')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no": 
             return D

In [ ]:
studentData = getDataFromUser()

In [ ]:
def getAvgMarks(D):
    avgMarksDict = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s+= int(marks)
        avgMarks[x] = s/len(L)

In [ ]:
avgm = getAvgMarks(studentData)

In [ ]:
!piplist